.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
/* header */
header {
    display: flex;
    padding: 57px 98px;
    align-items: center;
    width: 1440px;
    justify-content: space-between;
}
.header_logo {
    width: 127px;
height: 46px;
}
ul {
    display: flex;
    gap: 50px;
    
}
.header_list_active{
    font-size: 24px;
line-height: 28px;
color: #27187F;
}
.header_list_no_active{
    font-size: 24px;
    line-height: 28px;
    color:  #758BFD;
}



.search {
    display: flex;
    align-items: center;
    border: solid 3px #27187F;
    border-radius: 10px;
    overflow: hidden;
}
.search img {
    width: 39px;
    height: 39px;
}
.search input {
    height: 100%;
    border: none;
}
/* section */
h2 {
    margin-bottom: 68px;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 37px;
color: #27187F;
}
.search img {
    width: 39px;
    height: 39px;
}
.search input {
    height: 100%;
    border: none;
}
section {
    background-color: #DDEAF8;
    padding: 94px 98px 135px 98px;

}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}
.card div {
    padding: 33px 30px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 51px;
}

.card div p {
    margin-top: 33px;
    font-size: 20px;
}
/* footer */
footer {
    background-color: #758BFD;
    width: 1440px;
    padding: 75px 104px 75px 98px;
}
h3 {
    font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 17px;
color: 
#00CAD7;
}
h4 {
    font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
color: white;
}
.footer_div {
    display: flex;
    justify-content: space-between;
    /* gap: 23px; */
}
.left {
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.right img { 
    margin-left: 10px;
    
}
.social_media {
   display: flex;
   gap: 20px;
   margin-top: 22px;


}
/* ძაან ვჩქარობდი და ბევრ რამეს არ მაქ ყურადყება მიქცეული  */